<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Liste des pays participants</title>
    <link rel="stylesheet" type="text/css" th:href="@{/countries.css}">
</head>

<body>
    <h1>Liste des pays participants aux JO24</h1>
    <a th:href="@{/accueil}">Accueil</a>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Drapeau</th>
                <th>Capitale</th>
                <th>Population</th>
                <th>Faits intéressants</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="country : ${countries}">
                <td th:text="${country.countryName}"></td>
                <td><img th:src="${country.flag}" width="50" height="30" /></td>
                <td th:text="${country.capital}"></td>
                <td th:text="${country.population}"></td>
                <td th:text="${country.relevantPoint}"></td>
                <td>
                    <div sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/countries/delete/{id} (id=${country.id})}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce pays ?')">Supprimer</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/countries/add}">Ajouter un pays</a>
    </div>
</body>

</html>
