<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Ajouter un pays</title>
    <link rel="stylesheet" type="text/css" th:href="@{/countriesadd.css}">
</head>


<body>
    <h1>Ajouter un pays</h1>
    <a th:href="@{/countries}" class="btn btn-primary">Voir les pays</a>

    <form method="post" th:action="@{/countries/add}" enctype="multipart/form-data">

        <label for="countryName">Nom du pays :</label><br>
        <input type="text" id="countryName" name="countryName" required><br>

        <label for="flag">URL du drapeau :</label><br>
        <input type="text" id="flag" name="flag" required><br>

        <label for="capital">Capitale :</label><br>
        <input type="text" id="capital" name="capital" required><br>

        <label for="population">Population :</label><br>
        <input type="number" id="population" name="population" required><br>

        <label for="relevantPoint">Faits intéressants :</label><br>
        <textarea id="relevantPoint" name="relevantPoint" rows="4" cols="50" required></textarea><br>

        <input type="submit" value="Ajouter le pays">
    </form>
</body>

</html>

