<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Liste des athlètes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/athlete.css}">    
</head>

<body>
    <h1>Liste des athlètes</h1>
    <a th:href="@{/accueil}">Accueil</a>
    <table>
        <thead>
            <tr>
                <th>Photo</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Profil</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="athlete : ${athletes}">
                <td><img th:src="${athlete.photo}" width="50" height="30" /></td>
                <td th:text="${athlete.firstName}"></td>
                <td th:text="${athlete.lastName}"></td>
                <td><a th:href="@{/athletes/{id}(id=${athlete.id})}">Voir le profil</a></td>
                <td>
                    <div sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/athletes/update/{id}(id=${athlete.id})}" >Modifier</a>
                    </div>
                </td>
                <td>
                    <div sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/athletes/delete/{id} (id=${athlete.id})}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet athlète ?')">Supprimer</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/athletes/add}">Ajouter un athlète</a>
    </div>
</body>

</html>
